{
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "printWidth": 110,
  "vueIndentScriptAndStyle": false,
  "trailingComma": "all",
  "bracketSpacing": true,
  "arrowParens": "always"
}
